@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/typography";
@import "base/utilities";
@import "base/animation";

@import "components/button";

@import "layout/grid";
@import "layout/header";

@import "pages/home";

/* Target scrollbar width */
::-webkit-scrollbar {
  width: 7px; /* Adjust width */
  height: 7px; /* Adjust height for horizontal scrollbars */
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #7ed56f; /* Light gray background */
  border-radius: 10px; /* Rounded corners */
}

/* Scrollbar thumb (movable part) */
::-webkit-scrollbar-thumb {
  background: #55c57a; /* Darker gray */
  border-radius: 10px; /* Rounded corners */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #28b485; /* Even darker on hover */
}
